bnfc/
dist/
*.agdai
modules.pdf
TAGS
papers/*.aux
papers/*.log
papers/*.nav
papers/*.nav
papers/*.out
papers/*.ptb
papers/*.snm
papers/*.toc
papers/*.bbl
papers/*.blg
papers/*.pdf
papers/talk.tex
papers/type-checking-metas.tex
papers/permamake.sh

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*