bnfc/
dist/
*.agdai
modules.pdf
TAGS
papers/*.aux
papers/*.log
papers/*.nav
papers/*.nav
papers/*.out
papers/*.ptb
papers/*.snm
papers/*.toc
papers/*.bbl
papers/*.bib
papers/*.blg
papers/*.pdf
papers/talk.tex

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
/papers/type-checking-metas.tex
